# Environments
.env
.venv
.gemini
env/
venv/
ENV/

# Python
*.py[cod]
*$py.class
__pycache__/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# React / Node
node_modules/
dist/
build/
.npm/

# OS/Editor
.DS_Store
.vscode/
.idea/
*.swp
