DEBUG=True
SECRET_KEY=yoursecretkeyhere

DB_NAME=rol_narrator_screen
DB_USER=rol_user
DB_PASSWORD=rol_password

FRONTEND_DOMAIN=pantallanarrador.local

# Email Settings (Local with Mailpit)
# EMAIL_HOST=mailpit
# EMAIL_PORT=1025
# EMAIL_USE_TLS=False

# Email Settings (Real with Resend API Key)
# EMAIL_HOST=smtp.resend.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=resend
# EMAIL_HOST_PASSWORD=re_tu_api_key_aqui
# DEFAULT_FROM_EMAIL=onboarding@resend.dev